*{
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Inter';
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f5f6fa;
}
.hamburger{
    display: none;
}
.nav-links{
    display: flex;
    list-style: none;
    gap: 2.15rem;
    color: #858a8f;
    
}

.nav-links li a{
    text-decoration: none;
    color: #858a8f;
    font-weight: 600;
}

li a{
    text-decoration: none;
}
.button_get_started button{
    padding: 0.75rem 2rem;
    border-radius: 0.25rem;
    color: white;
    background: #0176FF;
    border: none;
    font-weight: 600;
}
/* The cover section starts here */
/* ================================================================================================ */
.cover{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f6fa;
    padding-bottom: 6rem;
}

.cover .cover-heading{
    margin-top: 6rem;
    margin-bottom: 2rem;
    font-weight: 900;
    font-size: 1.5rem;
    color: #333333;
}
.cover .cover-details p{
    text-align: center;
    color: #858A8F;
    margin-bottom: 3.5rem;
    line-height: 1.75rem;
}
.cover-features{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}
.cover .cover_features .email_us{
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.email_us, .drop_in, .call_any_time{
    padding: 1.5rem;
    background-color: white;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    border-radius: 0.4rem;
}

.email_us h1, .drop_in h1, .call_any_time h1{
    padding: 1rem 0;
    font-size: 1.5rem;
    color: #333333;
}
.email_us p, .drop_in p, .call_any_time p{
    padding: 1rem 0;
    color: #858A8F;

}
.email_us .message a, .drop_in .message a, .call_any_time .message a{
    color: #0176FF;
    text-decoration: none;
}
.message{
    font-weight: bold;
}
/* Form css starts here */
/* ======================================================================================================= */
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 4rem;
    margin-top: 5rem;
}
.form p{
    padding-top: 2rem;
    color: #858A8F;
    margin-bottom: 1rem;
    text-align: center;
}
.form form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 38%;
}

form .first_inputs, form .second_inputs{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    
}

form .first_inputs input, form .second_inputs input,form textarea{
    padding: 10px;
    border-radius: 0.3rem;
    border: 1px solid #d3d5de;
    outline: none;
    margin-top: 1.15rem;
    width: 100%;
}
form textarea{
    margin-right: 1rem;
    width: 97%;
}
.bottom-input{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    align-items: center;
    color: #858a8f;
}
.terms{
    display: flex;
    gap: 0.25rem;
}
.terms input{
    transform: scale(1.1);
    width: 2rem;
}
.terms label a{
    text-decoration: none;
    color: #858a8f;
}

.submit{
    padding: 0.4rem 2.25rem;
    border-radius: 0.25rem;
    color: white;
    background: #0176FF;
    border: none;
    font-weight: 600;
}
/* Footer css */
/* ============================================================================================ */
footer{
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    color: #858a8f;
    margin-bottom: 3rem;
 }
footers{
    margin-top: 8rem;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    
    
}
footers .footer1 img{
    width: 7.2rem;
}
footers .footer1 p{
    margin-top: 0.65rem;
    margin-bottom: 1.4rem;
    line-height: 1.45rem;
}
footers .footer .social-media{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footers .footer .social-media img{
    width: 2.15rem;
    margin-top: 0;
}
footers .footer .top{
    font-size: 1.2rem;
    color: black;
    font-weight: bold;
}
.footer2,.footer3, .footer4, .footer5{
    margin: 1.2rem;
}
 .footer2 ul, .footer3 ul, .footer4 ul, .footer5 ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1rem;
    gap: 1.5rem;
    
 }
 .footer2 ul li, .footer3 ul li, .footer4 ul li, .footer5 ul li{
    line-height: 0.25rem;
    list-style: none;
    
 }
 .footer2 ul li a, .footer3 ul li a, .footer4 ul li a, .footer5 ul li a{
   color: #858a8f;
   list-style: none;
 }

 
 .copyright{
    display: flex;
    justify-content: flex-start;
    margin-left: 6rem;
 }

 /* Responsive Design */
 @media(max-width:800px){
    .nav-links {
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        height: 100%;
        flex-direction: column;
        background-color: #f5f6fa;
        transition: 0.5s all ease;
        align-items: center;
        transform: translateX(-800px);
        padding-top: 60px;
      }
      .nav-links.show {
        transform: translateX(0px);
        transition: 0.5s all ease;
      }
      .nav-links li a {
        margin-bottom: 10px;
        display: block;
        font-size: 1.2rem;
      }
    
    .hamburger{
        display: block;
        position: absolute;
        color: #858a8f;
        top: 10px;
        right: 30px;
        font-size: 2rem;
    }
    .button_get_started{
        display: none;
    }

    .cover .cover-heading h1{
        text-wrap: wrap;
        font-size: 1.75rem;
    }
    .cover .cover-details p{
        text-wrap: wrap;
        padding: 0 1rem;
    }
    .cover .cover-details p br{
        display: none;
    }
    .cover-features{
        flex-direction: column;
        margin: 0;
        
    }
    .form h1{
        font-size: 1.75rem;
    }
    .form p{
        padding: 0 1rem;
        margin-top: 1rem;
    }
    .form p br{
        display: none;
    }
    .form form{
        width: 80%;
    }
    .cover .cover-heading{
        margin-top: 6rem;
        margin-bottom: 3rem;
        font-weight: 900;
        font-size: 1.2rem;
    }
    .terms label{
        text-decoration: none;
        color: #858a8f;
        font-size: 0.75rem;
    }
    .terms input{
        transform: scale(0.6);
        width: 2rem;
    }
    .submit{
        padding: 0.4rem 1rem;
        border-radius: 0.25rem;
        color: white;
        background: #0176FF;
        border: none;
        font-weight: 600;
    }
    /* Footer */
    footer{
        font-size: 0.55rem;
        line-height: 1rem;
        margin-bottom: 0;
        gap: 0;
        padding: 1rem;
    }
    footers{
        padding-left: 1.5rem;
        margin-top: 0rem;
        justify-content: space-evenly;
        /* gap: 0.75rem; */
        column-gap: 0rem;
    }
    footers .footer1{
        flex: 0 1 20%;
    }
    footer .footer1 p{
        line-height: 0.8rem;
        text-wrap: wrap;
    }
    footer .footer1 p br{
        display: none;
    }
    footers .footer1 img{
        width: 4.5rem;
    }
    footers .footer .top{
        font-size: 0.65rem;
    }
    .footer2, .footer3, .footer4,.footer5{
        margin: 0 0.5rem;
    }
    .footer2 ul, .footer3 ul, .footer4 ul, .footer5 ul{
        font-size: 0.60rem;
        list-style: none;
        gap: 0.5rem;
    }
    .footer2 ul li, .footer3 ul li, .footer4 ul li, .footer5 ul li{
        line-height: 0.65rem;
    }
    .footer2,.footer3, .footer4, .footer5{
       margin-top: 0.8rem;
    }
    footers .footer .social-media{
        gap: 0.4rem;
    }
    footers .footer .social-media img{
        width: 1.1rem;
    }
    .copyright {
        margin: 1.5rem;
    }
    
 }
.block-scroll{
    overflow: hidden;
}